<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/assets/styles/style.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <!-- meta.html -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Listen to episode 001: Episode 001: funeral by arcade_fire. Join hosts Carl Pfanstiehl and Dan Woodard as they review funeral by arcade_fire.">
    <meta name="keywords" content="funeral, arcade_fire, music review, podcast, Backwards Beats">
    <meta name="author" content="Carl Pfanstiehl, Dan Woodard">
    <meta property="og:title" content="Episode 001: funeral by arcade_fire - Backwards Beats">
    <meta property="og:description" content="Join Carl and Dan as they dive into funeral by arcade_fire in this episode of Backwards Beats.">
    <meta property="og:image" content="URL_to_album_cover_image.jpg"> <!-- Replace with the actual URL of the album cover image -->
    <meta property="og:url" content="URL_to_episode_page"> <!-- Replace with the actual URL of the episode page -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Episode 001: funeral by arcade_fire - Backwards Beats">
    <meta name="twitter:description" content="Join Carl and Dan as they dive into funeral by arcade_fire in this episode of Backwards Beats.">
    <meta name="twitter:image" content="/assets/images/logo.svg"> <!-- Replace with the actual URL of the album cover image -->


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backwards Beats Podcast</title>
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div hx-get="/top-nav.html" hx-swap="innerHTML" hx-trigger="load" class="navbar__items"> </div>
      </div>
      <div class="wrapper">
        <div class="left__wrapper">
          <div hx-get="episode.html" hx-swap="innerHTML" hx-trigger="load"</div>
        </div>
        <footer>
          <p>
          Subscribe wherever you get your podcasts.
          </p>
          <hr>
          <div class="icons">
            <p><i class="fa-brands fa-spotify"></i> Spotify</p>
            <p><i class="fa fa-podcast"></i> Apple podcasts</p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
